body {
    margin: auto; /* Контент выровнен по середине. */
    width: 70%; /* Контент занимает 70% ширины страницы. */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: Arial; /* Заголовки всех уровней выполнены шрифтом без засечек. */
    margin-top: 1.5em; /* Верхний отступ заголовков установлен больше нижнего (например, 1.5em), */
    margin-bottom: 0.5em; /* чтобы соблюсти правило внутреннего и внешнего. */
}
h1 {
    font-size: 32px; /* Заголовки первого уровня имеют размер 32px. */
}
table,
th,
td {
    border: 1px solid; /* Таблицы имеют непрерывные границы чёрного цвета толщиной 1px. */
}
figure {
    margin: 2px 10px 2px 10px;
    padding: 0px;
    float: right; /* Картинки обтекаются текстом. Картинки справа, текст слева. */
    font-style: italic;
    font-size: smaller;
    text-align: right;
}
